.ateliartt-layout-aling {
    min-height: 100vh;
    background: var(--color-background);
}

.ateliartt-row1-styles {
    background: transparent;
    margin-top: 40px;
}

.ateliartt-titlehome-styles {
    font-size: 80px !important;
    color: var(--color-text) !important;
    font-family: 'Dancing Script', cursive;
}

.ateliartt-image-styles {
    border: 8px solid #fff;
    /* Adapte a largura da borda e a cor conforme necessário */
    border-radius: 12px;
    /* Adapte o raio da borda conforme necessário */
    margin: 10px;
    /* Adapte a margem conforme necessário */
}

.ateliartt-butterfly {
    position: absolute;
    width: 50px;
    /* ajuste conforme necessário */
    height: 50px;
    /* ajuste conforme necessário */
    background-image: url('../assets/borboleta.png');
    background-size: cover;
    animation: flutter 2s infinite alternate;
}

@keyframes flutter {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-10px);
    }
}

.ateliartt-mesa {
    position: absolute;
    width: 300px;
    /* ajuste conforme necessário */
    height: 200px;
    /* ajuste conforme necessário */
    background-image: url('../assets/mesa.png');
    background-size: cover;
}

.ateliartt-galho {
    position: absolute;
    width: 300px;
    /* ajuste conforme necessário */
    height: 300px;
    /* ajuste conforme necessário */
    background-image: url('../assets/galho.png');
    background-size: cover;
}

.ateliartt-kit {
    position: absolute;
    width: 200px;
    /* ajuste conforme necessário */
    height: 300px;
    /* ajuste conforme necessário */
    background-image: url('../assets/kit.png');
    background-size: cover;
}

.animated-text {
    opacity: 0;
    animation: fadeInCenter 2s ease-in-out forwards;
}

@keyframes fadeInCenter {
    0% {
        opacity: 0;
        transform: translateX(-50%);
    }

    100% {
        opacity: 1;
        transform: translateX(0%);
    }
}